:root {
	--bg-color: rgb(12, 12, 26);
	--content-color: white;
	--primary-color: aquamarine;
	--grey-color: rgb(143, 143, 143);
	--red-color: rgb(197, 22, 22);
	--green-color: rgb(0, 255, 0);
}

* {
	box-sizing: border-box;
	margin: 0;
}

.App {
	min-height: 100vh;
	background-color: var(--bg-color);
	color: var(--content-color);
	padding: 0.5em;
}

.App_main {
	max-width: 1000px;
	margin: 0 auto;
}
