:root {
	--bg-color: rgb(20, 20, 41);
	--content-color: white;
}

* {
	box-sizing: border-box;
	margin: 0;
}

.App {
	height: 100vh;
	background-color: var(--bg-color);
	color: var(--content-color);
	padding: .5em;
}
