.OrderBook_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.OrderBook_title{
   width: 100%;
   text-align: center;
   font-weight: 700;
}
table {
  border-collapse: collapse;
  width: 50%;
  text-align: center;
}

td,
th {
    font-weight: 400;
  padding: 6px;
}
tr {
  border-bottom: 1px solid rgba(136, 136, 136, 0.493);
}

tr:hover {
  filter: brightness(150%);
}
