.OrderBook_container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.OrderBook_title {
	width: 100%;
	text-align: center;
	font-weight: 700;
}
table {
	border-collapse: collapse;
	width: 50%;
	text-align: right;
}

td,
th {
	padding: 6px;
}

.OrderBook_subtitle {
	text-align: center;
}

.OrderBook_row {
	border-bottom: 1px solid rgba(136, 136, 136, 0.493);
	font-weight: 400;
	animation-duration: 0.7s;
}
@keyframes bidsEnter {
	from {
		background-color: rgba(1, 151, 101, 0.466);
	}
	to {
		background-color: transparent;
	}
}

.OrderBook_row_bids {
	animation-name: bidsEnter;
}

@keyframes asksEnter {
	from {
		background-color: rgba(170, 0, 0, 0.521);
	}
	to {
		background-color: transparent;
	}
}
.OrderBook_row_asks {
	animation-name: asksEnter;
}
